{% extends 'extends/main.html' %}
{% load static %}

{% block content %}

<main class="text-white">
    <div class="row ms-3 mt-10 mb-10 w-11/12" id="podcast-list">
        <div class="podcast-item flex justify-between items-center">
          <div class="cover w-1/4 rounded-2xl">
            <img
              src="/static/assets/img/20230322_191000.jpg"
              class="img-thumbnail rounded-2xl"
            />
          </div>
          <div class="about_description body w-3/4 mr-14 p-10 rounded-lg">

            <p class="text-white text-lg w-5/5 leading-8">
                تورهام که اسم واقعیش محمدحمزه محمدیان ( بله همین‌قدر طولانی :) ) عه.  یک برنامه نویسه که به زبان‌های مختلف برنامه نویسی علاقه داره، اما انگار از پایتون بیشتر خوشش میاد =). علاقه به فیلم، انگلیسی و موسیقی داره ( مخصوصا رپ‌های انگلیسی )، و میشه گفت این روزا علاقه‌مند به <a class="link" href="https://en.wikipedia.org/wiki/Eminem">امینم</a> عه.
    <br>
    من این روزا پادکست <a class="link" href="../podcast/index.html">کدنالین</a> رو پیش میبرم و داخل <a class="link" href="https://www.youtube.com/channel/UC4Ur0lJU7jE7Tzh6Z3QHTXw">یوتیوب</a> هم ویدیوهای آموزش درمورد برنامه‌نویسی، بک‌اند و پایتون میزارم. هدف چیه از این کارها؟ اینکه هم خودم بیشتر یاد بگیرم و بقیه هم بتونن چیز جدید بفهمند و یاد بگیرن. 
    <br>
    اگه دوست داشتید داخل موضوع، مبحثی کمکتون کنم میتونید یک سر به بخش <a class="link" href="../mentoring/index.html">منتورینگ</a> بزنید، اونجا میتونید درخواست بفرستید و این ماجراها ( اطلاعات بیشترش همونجا هست :) ).
    <br>
    اگه دوست‌ داشتید از لینک‌ها زیر میتونید فالوم کنید D:
            </p>
            </div>
          </div>
        </div>
  
        
      </div>
</main>

{% endblock %}