{% extends 'extends/main.html' %}


{% block content %}

<h1 id="type-text"></h1>
<a class="source_link" href="{{ main_text_source_link }}">{{ main_text_source }}</a>


<center>
    <a href="/about">
        <button class="dark_white_btn index_btn">
            درباره تورهام =)
        </button>
    </a>
</center>
<script>
    var i = 0;
    var txt = '{{ main_text }}'; /* The text */
    var speed = 70; /* The speed/duration of the effect in milliseconds */

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("type-text").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
    typeWriter()
</script>

{% endblock %}