@font-face {
    font-family: 'Mikhak';
    font-weight: 500;
    font-style: normal;
    src: url("http://127.0.0.1:8002/static/assets/font/Mikhak-DS1-Regular.woff2") format('woff2');
}

* {
    font-family: Mikhak;
}

.text-7xl {
    font-size: 2.5rem;
    line-height: 1;
}

.text-4xl {
    font-size: 1.25rem;
    line-height: 2.5rem;
}