.about_user_image {
    height: 300px;
    width: 300px;
    border-radius: 24px;
    margin-right: 59px;
    margin-top: 10px;
    transition: all .6s;
}

.person_description_about {
    display: flex;
    margin-top: 10px;

}

.about_description {
    margin: 60px;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    border-radius: 8px;
    transition: all .6s;
}

.about_description:hover {
    transition: all .6s;
    box-shadow: 0px 2px 0px 2px whitesmoke;
}

@media screen and (max-width: 800px) {
    .person_description_about {
        flex-direction: column;
    }

    .about_user_image {
        width: 295px;
        margin-right: 35%;
    }

    .about_user_image:hover {
        transition: all .6s;
    }


}

@media screen and (max-width: 600px) {
    .about_user_image {
        display: none;
    }


}

.about_sprator {
    height: 5px;
    width: 50%;
    background-color: #6c5ce7;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.contact_info {
    /* background-color: red; */
    text-align: center;
}

.c_svgs {
    margin: 30px;
    height: 50px;
    width: 50px;
    transition: all 0.6s;

}